* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--body-color);
}
.main-login {
    background: var(--header);
    width: 50%;
    height: 100vh;
    border-radius: .3rem;
    padding: 4rem 2rem;
    margin: auto;
}
.voltar {
    display: block;
    width: 4%;
    height: 4%;
    margin-bottom: 5%;
}
.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.login h1 {
    width: fit-content;
    color: var(--text-color);
    font: 700 2.3rem "Poppins", sans-serif;
    text-decoration: underline;
    margin-bottom: 8%;
}
.dados {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    margin-bottom: 3%;
}
.dados div {
    display: flex;
    flex-direction: column;
    width: 45%;
    border-bottom: 2px solid var(--border);
}
.dados label {
    font: 700 1.5rem "Poppins", sans-serif;
    color: var(--border);
}
.dados input {
    font: 400 1.3rem 'PT Sans Caption';
    height: 50%;
    border: none;
    background: none;
    outline: none; 
    color: var(--text-color);
}
.dados-login div{
    display: flex;
    flex-direction: column;
    height: 4rem;
    margin-bottom: 3%;
    border-bottom: 2px solid var(--border);
}
.dados-login label {
    font: 700 1.5rem "Poppins", sans-serif;
    color: var(--border);
}
.dados-login input {
    font: 400 1.3rem 'PT Sans Caption';
    height: 50%;
    border: none;
    background: none;
    outline: none; 
    color: var(--text-color);
}
.dados div:hover {
    border-bottom: 2px solid var(--text-color);
}
.dados-login div:hover {
    border-bottom: 2px solid var(--text-color);
}

.btn-login {
    cursor: pointer;
    height: 4rem;
    border-radius: .3rem;
    border: none;
    font: 400 1.5rem "Poppins", sans-serif;
    background-color: #f92727b0;
    color: var(--text-color);
    margin-top: 3%;
}
.voltar-login {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.voltar-login a {
    text-decoration: none;
    color: var(--text-color);
}
.voltar-login a:hover {
    text-decoration: underline;
}

:root{
    --background: #3049bb;
    --text-color: #ffffff;
    --body-color: #303030;
    --header: #04346B;
    --border: #a3a3a3;
}

@media only screen and (max-width: 1200px) {
    .main-login {
        width: 80%;
    }
    .voltar {
        width: 1.5rem;
        height: 2.5rem;
    }
    .login h1 {
        font-size: 2rem;
    }
    .dados div {
        width: 47%;
    }
    .dados label {
        font-size: 1.3rem;
    }
    .dados input {
        font-size: 1.3rem;
    }
    .dados-login label {
        font-size: 1.3rem;
    }
    .dados-login input {
        font-size: 1.3rem;
    }    
    .btn-login {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 760px) {
    .main-login {
        width: 90%;
    }
    .login h1 {
        font-size: 1.8rem;
    }
    .dados {
        flex-direction: column;
        height: 10rem;   
    }
    .dados div {
        width: 100%;
        height: 4.5rem;
        margin-bottom: 3%;
    }
    .dados label {
        font-size: 1.3rem;
    }
    .dados input {
        font-size: 1.3rem;
    }
    .dados-login {
        height: 4.5rem;
    }
    .dados-login label {
        font-size: 1.3rem;
    }
    .dados-login input {
        font-size: 1.3rem;
    }   
    .btn-login {
        font-size: 1.3rem;
        height: 3.5rem;
        margin-top: 5.5rem;
    }
}