* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    font: 400 1rem 'DM Sans', sans-serif;
    color: var(--text-color);
    background: var(--body-color);
}
a {
    color: var(--text-color);
    text-decoration: none;
}
li {
    list-style-type: none;
}
header {
    background: var(--header);
    height: 9.6rem;
}

.navigation {
    width: 70%;
    height: 6.5rem;
    margin: auto;
    display: flex;
    justify-content :space-between;
    align-items: center;
}
.menu-barra {
    width: 1.8rem;
    display: none;
}
.logo {
    font: 700 1.8rem "Poppins", sans-serif;
}
.search {
    width: 45%;
    height: 2.3rem;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    border-radius: 0.3rem;
    background: #EFEFEF;
}
.barra {
    font: 400 'PT Sans Caption';
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;       
}
.icon {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon img {
    height: 2rem;
    width: 2rem;
}
.heart {
    display: block;
    width: 2.2rem; 
    height: 100%;}
.car {
    display: flex;
    align-items: center;
    width: 8rem;
}

.btn1 {
    display: flex;
    align-items: center;
}
.dropdown-login {
    height: 9rem; width: 10rem;
    background-color: rgb(184, 184, 184);
    font: 400 'PT Sans Caption';
    border-radius: .3rem;
    padding: 1.5%;
    position: absolute;
    display: none;
}
.dropdown-login div {
    width: 100%; height: 100%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
}
.dropdown-login li {
    background-color: var(--header);
    width: 100%; height: 2rem;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn1:hover + .dropdown-login {
    display: block;
}
.dropdown-login:hover {
    display: block;
}

.menu {
    display: none;
}
.btn2 {
    background: none;
    color: var(--text-color);
    text-decoration: underline;
    font: 700 1.2rem "poppins";
    cursor: pointer;
    display: block;
}
.dropdown-menu {
    background-color: var(--header);
    font: 700 1rem "Poppins", sans-serif;
    padding: 1rem;
    display: table-column;
    position: absolute;
    display: none;
}
.btn2:hover + .dropdown-menu {
    display: block;
}
.dropdown-menu:hover {
    display: block;
}

.menu-categorias {
    height: 2.5rem;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lista-categoria {
    font: 700 1rem "Poppins", sans-serif;
    width: 74%;
    display: flex;
    justify-content: space-between;
}

#carrosel {
    height: 14.5rem;
    width: 70%;
    margin: auto;
}
#carrosel img {
    width: 100%; height: 100%;
}

.n {
    color: #f92727;
}

/* ------------------------------------ PROMOÇÃO ------------------------ */
.secao-promocao {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}
.titulo-promocao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto-promocao h1 {
    font-weight: 700;
    font-size: 24px;
}
.tudo {
    width: 7.5rem;
    font-weight: 700;
    font-size: 0.8rem;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.slide {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.botao {
    background: radial-gradient(#303030, #30303000);
    height: 4rem; width: 4rem;
    border-radius: 4rem;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    transform: translate(-50%, 50%);
    transition: all .5s;
}
.botao:hover {
    background: radial-gradient(#ffffff, #ffffff57);
}
.produtos-promocao {
    margin-top: 0.3rem;
    display: flex;
    overflow: auto hidden;
    scroll-behavior: smooth;
}
.produtos-promocao::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 3px;
}
.promocao {
    display: flex;
    width: 85rem;
    align-items: center;
    position: relative;
}
.produto {
    width: 17rem;
    height: 16rem;
    padding: 1%;
}
.produto h3 {
    background-color: rgba(249, 39, 39, 0.87);
    padding: .1rem 2rem;
    position: absolute;
    border-bottom-right-radius: .3rem;
    bottom: 80%;
}
.promocao img {
    border-radius: 0.3rem;
    width: 100%; height: 100%;
    scroll-snap-align: start;
}

/* ----------------------------------- DESTAQUES ----------------------------- */
.secao-destaques {
    max-width: 70%;
    margin: auto;
    margin-top: 2rem;
}
.secao-destaques h1 {margin-left: 1%;}
.destaques {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.3rem;
}
.produtos-destaque {
    width: 25%;
    padding: 2% 1%;
}
.produtos-destaque div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.produtos-destaque h4 {
    color: #32d418;
}
.produtos-destaque h6 {
    text-decoration: line-through;
}
.detalhe {
    margin-top: 3%;
}
.descricao {
    word-wrap: break-word;
}
.destaques img {
    width: 100%;
}

/* --------------------------------- CATEGORIA ---------------------------- */
.secao-categoria {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}
.categorias {
    width: 100%;
    display: flex;
}
.categoria {
    padding: 1%;
    width: 33.3%;
    height: 17rem;
    position: relative;
}
.categoria img {
    display: block;
    width: 100%; height: 100%;
    border-radius: 0.3rem;
}
.categorias h2 {
    border: 3px solid white;
    padding: 1rem 4rem;
    text-align: center;
}
.categoria a {    
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80%;
    z-index: 1;
}

/* ----------------------------------- FOOTER ----------------------------- */
footer {
    background-color: var(--header);
    margin-top: 3rem;
    height: auto;
}
.secao-footer {
    width: 70%;
    margin: auto;
    padding-top: 1.5rem;
}
.loja {
    width: 21rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 3rem;
}
.todas-informacoes {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.todas-informacoes h1 {
    font: 700 1rem "Poppins", sans-serif;
}
.todas-informacoes div a {
    color: #989898
}

.informacoes {
    margin-top: 3rem;
    display: flex;
    width: 50%;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 9rem;
    margin-right: 13%;
}
.pagamento div {
    margin-top: .5rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 4%;
}
.pagamento img {
    width: 4rem; height: 2.2rem;
    background: white;
    border-radius: .3rem;
    margin-top: 4%;
}

.dropdown-atend, .dropdown-inst, .dropdown-pag {
    display: none;
    position: relative;
    margin-bottom: 1rem;
}
.select-at, .select-in, .select-pag {
    font: 700 1rem "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.select-at:hover {
    border-bottom: 1px solid white;
}
.select-in:hover {
    border-bottom: 1px solid white;
}
.select-pag:hover {
    border-bottom: 1px solid white;
}
.drop {
    width: 0; height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid white;
}
.lista-atend, .lista-inst, .lista-pag {
    padding: .3rem .6rem;
    position: relative;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 1;
    display: none;
}
.active .lista-atend {
    display: block;
}
.active .lista-inst {
    display: block;
}
.active .lista-pag {
    display: block;
}
.list-at, .list-in, .list-pag {
    padding: .7rem .5rem;
    cursor: pointer;
    width: fit-content;
}
.list-pag img{
    width: 4rem;
}

.secao-email{ 
    width: 45%;
}
.secao-email .search {
    width: 100%;
    margin-top: 1%;
}
.secao-email button {
    border: none;
    cursor: pointer;
}
.contatos {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 25%;
    margin-top: 2%;
}

.mais{
    font: 700 1rem "Poppins", sans-serif;
    padding-top: 2rem;
}

/*=========================== Variable ======================*/
:root{
    --background: #3049bb;
    --text-color: #ffffff;
    --body-color: #303030;
    --header: #04346B;
}

@media screen and (max-width:1200px) {
    .navigation {
        width: 85%;
        position: relative;
    }
    .navigation .search {
        position: absolute;
        bottom: -20%;
        width: 100%;
    }
    .menu-barra {
        display: block;
    }
    .icon {
        width: 40%;
    }
    .menu {
        background: var(--header);
    }
    .menu-categorias {
        display: none;
    }
    #carrosel {
        height: 14rem;
        width: 85%;
    }

    /* ------------------------------------ PROMOÇÃO ------------------------ */
    .secao-promocao {
        width: 85%;
    }
    .texto-promocao h1 {
        font-size: 20px;
    }
    .tudo {
        width: 7rem;
        font-size: 0.7rem;
    }
    .produto {
        width: 14rem;
        height: 13rem;
    }
    .produto h3 {
        bottom: 75%;
    }

/* ----------------------------------- DESTAQUES ----------------------------- */
    .secao-destaques {
        max-width: 85%;
    }
    .produtos-destaque {
        width: 33.3%;
    }

    /* --------------------------------- CATEGORIA ---------------------------- */
    .secao-categoria {
        width: 85%;
        font-size: 13px;
    }
    .categoria {
        padding: .5%;
        height: 15rem;
    }
    .categorias h2 {
        padding: .8rem 3.5rem;
    }
    .categoria a {    
        top: 35%;
        left: 10%;
        width: 80%;
        z-index: 1;
    }

    /* ----------------------------------- FOOTER ----------------------------- */
footer {
    height: auto;
}
.secao-footer {
    width: 85%;
}
.informacoes {
    display: none;
}
.dropdown-atend, .dropdown-inst, .dropdown-pag {
    display: block;
}
.secao-email{ 
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.email {
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 5rem;
}
.mais{
display: none;
}

}

@media screen and (max-width: 760px) {
    .navigation {
        width: 95%;
    }
    .logo {
        font-size: 1.6rem;
    }
    .car p {
        display: none;
    }
    .car {
        width: 100%;
    }
    #carrosel {
        height: 14rem;
        width: 95%;
    }

    /* ------------------------------------ PROMOÇÃO ------------------------ */
    .secao-promocao {
        width: 95%;
    }
    .texto-promocao h1 {
        font-size: 15px;
    }
    .tudo {
        width: 7rem;
        font-size: 0.rem;
    }
    .botao {
        height: 3rem; width: 3rem;
    }
    .produto {
        width: 12rem;
        height: 11rem;
    }
    .produto h3 {
        bottom: 70%;
        padding: .05rem 1.5rem;
    }

    /* ----------------------------------- DESTAQUES ----------------------------- */
    .secao-destaques {
        max-width: 95%;
    }
    .produtos-destaque {
        width: 50%;
    }
    
    /* --------------------------------- CATEGORIA ---------------------------- */
    .secao-categoria {
        width: 95%;
        font-size: 13px;
    }
    .categorias {
        flex-direction: column;
    }
    .categoria {
        padding: 1%;
        width: 100%;
        height: 18rem;
    }
    .categorias h2 {
        border: 3px solid white;
        padding: 1.4rem 4rem;
    }

    /* ----------------------------------- FOOTER ----------------------------- */
    .secao-footer {
        width: 95%;
    }
    .secao-email{ 
        width: 80%;
    }
}